.main{
    display: flex;
    width: 1200px;
    height: 500px;
    background-color: #be3455;
    /* background: linear-gradient(105deg, rgba(255,225,2,1) 0%, rgba(255,225,2,1) 59%, rgba(233,206,6,1) 59%, rgba(243,218,31,1) 60%, rgba(243,218,31,1) 100%); */
    margin: 48px;
    border-radius: 10px;
}

.give, .take{
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    width: 450px;
    height: 300px;
    border: 1px solid black;
}

.give__valute, .give__email, .give__warning{
    width: 100%;
    background: white;
    border-radius: 6px;
}

.give__valute{
    position: relative;

    display: flex;
    height: 80px;
    padding: 10px;
}

.give__valute-button{
    width: 35%;
    cursor: pointer;
    border-right: 1px solid black;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    background: white;
}
.give__valute-button:hover{
    background: #be3455;
    color: white;
    border-radius: 6px;
}

.give__valute-list, .typeOfValute-list{
    display: none;

    position: absolute;
    left: 0;
    top: 110px;

    margin: 0;
    padding: 0;
    list-style-type: none;

    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(176,198,225,0.6);
    overflow: hidden;

    border-radius: 6px;
    width: 100%;

    z-index: 1;
}

.give__valute-list--visible{
    display: block;
}
.typeOfValute-list--visible{
    display: block;
}

.give__valute-list-item, .typeOfValute-list-item{
    margin: 0;
    padding: 0;
    border: 1px solid #7E9bbd;
    border-bottom: 0px;
    padding: 13px 20px;
    cursor: pointer;
}
.give__valute-list-item:first-child{
    border-radius: 6px 6px 0 0;
}

.give__valute-list-item:last-child{
    border-radius: 0 0 6px 6px;
    border-bottom: 1px solid #7E9BBd;
}
.give__valute-list-item:hover, .typeOfValute-list-item:hover{
    background: #a2a2a2;
}




.inp{
    width: 45%;
}

.typeOfValute{
    width: 20%;
    cursor: pointer;
}

.give__email{
    height: 64px;
}

.give__warning{
    height: 55px;
}

.give__valute__input-hidden{
    display: none;
}



.middle{
    border: 1px solid black;
    width: 100px;
}

.take{
    border: 1px solid black;
}